*{
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header--container{
  width: max-width;
  height: 65px;
  background: linear-gradient(to right, #672280, #A626D3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.header--logo--section{
  display: flex;
  align-items: center;
}
.header--text{
  color: white;
  margin-left: 10px;
}
.logo{
  width: 31px;
  height: 26px;
}
h5.header--text{
  font-weight: 300;
}
.form{
  margin-top: 5%;
}

section{
  display: flex;
  justify-content: space-around;
}
label{
  display: block;
  margin: 25px 20px 0px 20px;
}

input{
  margin: 25px 20px;
  display: inline;
  width: 444px;
  height: 40px;
}
